---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Card from "../components/Card.astro";
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import Footer from "../components/Footer.astro";
import Carrousel from "../components/Carrousel.astro";


const projects = [
  {
    header: "Book in a Box",
    text: "Tredje semesters eksamensopgave gik ud på at lave et unsolicited redesign af en selvvalgt virksomhed. Kravet var at det skulle være en abonnementbaseret virksomhed. Vi ville gerne finde en lidt mindre virksomhed, og vi browsede lidt på nettet indtil vi så stødte på Book in a Box. Vi syntes det var et fedt koncept, altså at de sælger abonnement på fantasy bøger, og hver måned får man sendt en boks med en bog og goodies. Det er ejeren der vælger bogen, og det fungerer lidt som en læseklub, fordi brugerne taler om bøgerne på Book in a Box' instagram. Vores mål for redesignet var at få fantasy aspektet til at være meget mere tydelig visuelt på selve hjemmesiden, samt gøre den mere brugervenlig og styrke kontinuiteten ift brugen af komponenter og farver. Vi eksperimenterede rigtig meget og kom til sidst frem til denne eventyrlige visuelle stil. Det her er en af projekter, jeg er allermest stolt af, og der er blevet lagt rigtig meget arbejde i fra alle i min gruppe. Vi lavede det hele sammen i designdelen, og fordelte arbejdet da det kom til koden. Min rolle var at kode forsiden, menuen og at tegne de håndtegnede illustrationer. Det var et godt samarbejde og har fået meget læring som jeg vil tage med mig.",
    bgImg: "/img/bookinabox.webp",
    url: "https://bookinabox.netlify.app/",
  },
 
  {
    header: "Höjskolendk",
    text: "Höjskolendk er en rejsehøjskole. Dette projekt handlede om at lave et redesign af Höjskolendk, med fokus på at forbedre brugeroplevelsen og optimere den visuelle identitet. Målet var ikke kun at opdatere designet, men også at arbejde med og implementere et solidt designsystem. En stor del af casen var at overføre designsystemet fra Figma til kode, hvilket styrkede både samarbejdet mellem design og udvikling og sikrede et mere effektivt workflow.",
    bgImg: "/img/hojskolendk.webp",
    url: "https://hojskolendk.netlify.app/",
  },
 

  {
    header: "#singleusesucks",
    text: "Plastic Change er en organisation der arbejder på at reducere mængden af engangsplastik i verden. Organisationen fokuserer på at skabe opmærksomhed om de negative konsekvenser af plastaffald for miljøet og dyrelivet. #singleusesucks handlede om at udvikle en scrollytelling til Plastic Change. Vi brugte mange animationer for at fremme budskabet om at reducere engangsplastik. Vi brugte animationsbiblioteker som Motion One, Animista og Animate.css til at gøre oplevelsen mere interaktiv og visuelt spændende.",
    bgImg: "/img/singleuse-sc.webp",
    url: "https://singleusesucksbackup.netlify.app/?fbclid=IwZXh0bgNhZW0CMTEAAR1mArOMrp3fPsJjYvVAQX3-n4zHUKU2bpj17u8VNmOlVIKFfIC_Bf1kGZ8_aem__8NBiaM20B69M-arsDehBQ",
  },
 


  {
    header: "Digital Cleanup Day",
    text: "Digital Cleanup Day er en global begivenhed, der fokuserer på at rydde op i den digitale verden for at reducere energi- og ressourcetrækket fra internettet. Caseopgaven gik ud på at skabe et redesign til Digital Cleanup Days hjemmeside, men oversat til dansk. Målet var at opbygge erfaring med infografik og datavisualisering.",
    bgImg: "/img/digitalskrald-sc.jpg",
    url: "https://digitalskrald.netlify.app/",
  },
 

  {
    header: "Dferments.dk",
    text: "Dferments er en lille lokal virksomhed, som specialiserer sig i kombucha. Dette var min gruppe og jegs eksamensprojekt fra 2. semester, som vi alle er meget stolte af. Opgaven var at finde en virksomhed og hjælpe dem med at udnytte deres digitale platforme. Vi udviklede SoMe content i form a billeder, videoer, stories. Derudover designede og udviklede vi en spritny hjemmeside til dem.",
    bgImg: "/img/dferments-sc.jpg",
    url: "https://dferments.netlify.app/",
  },
 

  {
    header: "I tråd med verden",
    text: "ITMV (I Tråd Med Verden) er en dansk tøjbutik, der fokuserer på bæredygtighed ved at give nyt liv til kasserede tekstiler. De bidrager til den grønne omstilling og skaber jobs for socialt udsatte kvinder. Casen gik ud på at designe og udvikle en webfeature til en lille virksomhed. Her legede vi meget med grafikker som især kan ses i den gennemgående røde tråd. Vi arbejdede også med lydafspilning.",
    bgImg: "/img/itmv-sc.jpg",
    url: "https://itmvgruppe9.netlify.app/",
  },
 


  {
    header: "Karrusel.dk",
    text: "Karrusel Festival er en musikfestival i Danmark, der fokuserer på en intim stemning med musik fra både etablerede og nye kunstnere. Vi fik til opgave at udvikle og kode et redesign til Karrusel Festival. Målet var at få en forståelse af designsystemer og at oprette komponenter og variabler både i figma og i vscode.",
    bgImg: "/img/karrusel-sc.jpg",
    url: "https://karrusel-team9.netlify.app/",
  },
 

  {
    header: "Vildmad.dk",
    text: "Vildmad.dk er en dansk organisation, der fremmer brugen af vilde, spiselige planter i madlavning. Vi skulle lave en underside som er målrettet mod folkeskoleelever i 7. klasse. Vi havde store ambitioner for vildmad.dk, men nåede desværre ikke at få det hele i mål. Det var også en af de første rigtige cases, vi fik, da det var den første opgave i andet semester. Det overordnede mål var at bygge et datasystem og fetche data fra det. Vi arbejdede med Astro for første gang, brugte Astro props og dykkede ned i mere avanceret JavaScript. Selvom det visuelle design har plads til forbedring, lærte jeg meget af denne opgave.",
    bgImg: "/img/vildmad.webp",
    url: "https://vildmaddk.netlify.app/",
  },
 

  {
    header: "Pleasant.dk",
    text: "Pleasant.dk er en tøjbutik, der tilbyder et udvalg af mode med fokus på bæredygtighed og tidløse designs. Pleasant var vores første caseopgave på første semester. Opgaven gik ud på selv at kontakte en virksomhed og lave et redesign af deres site, samt producere en større video og en SoMe-video. Vores site havde mange mangler og tekniske fejl, men jeg lærte utrolig meget, da det var den første rigtige hjemmeside, vi lavede. Tidligere havde vi kun arbejdet med små øvelser. Jeg lærte også at arbejde med Premiere Pro, researche, producere og redigere indhold til sites, hvilket var en værdifuld erfaring for mig.",
    bgImg: "/img/pleasant.webp",
    url: "https://pleasant04.netlify.app/",
  },
 

 
 
  
  // Tilføj flere projekter her
];


---

<MainLayout title="Projekter">

<div id="hero" class="h-screen flex flex-col justify-center  items-center border-b border-obsidian">
<h1 class="text-obisidan projekter-h1 text-center text-h1-m lg:text-h1-d font-header text-obsidian "></h1>

<p class=" lg:w-[600px] text-obsidian font-p-light-italic text-p-l-m  lg:text-p-l-d text-center">Dette er en håndfuld af de projekter, jeg er mest stolt over</p>
</div>

<div class="flex flex-col items-center justify-center">

<div id="projekter" class="flex flex-wrap gap-padding-s items-center  my-padding-l mx-padding-xl justify-center ">
  {projects.map((project) => (
    <a href={project.url} target="_blank" class="card-link ">
      <Card 
        header={project.header} 
        text={project.text} 
        bgImg={project.bgImg} 
        url={project.url} 
      />
    </a>
  ))}
    
    
  </div>

</div>
  



</MainLayout>

<script>
      import gsap from "gsap";
 
 import { ScrollTrigger } from "gsap/ScrollTrigger";
  
 import { TextPlugin } from "gsap/TextPlugin";
 gsap.registerPlugin(TextPlugin)
 
 gsap.registerPlugin(ScrollTrigger);



gsap.to(".projekter-h1", {
  duration: 1,
  text: "Projekter",
  ease: "power1.in",
  scrollTrigger: {
    trigger: ".projekter-h1", // The element to watch for in view
    start: "top 50%",  // When the top of the element hits 80% of the viewport
    toggleActions: "play none none none", // Play the animation on scroll
  },
});
</script>